$fontSans: "Google Sans Flex", "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "JetBrains Mono", "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #aaa
$beta: #E2E2E6
$gama: #999
$delta: #A9C7FF
$epsilon: #1F1F23
$omega: #1A1C1E
$zeta: #fff
$kappa: #A9C7FF26

$thin-font: 400

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
